*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: grey;
    height: 85px;
    width: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-interaction {
    display: flex;
    gap: 70px;
}
.dojonary{
    font-size: 20pt;
}
.button{
    height: 30px;
    width: 90px;
    background-color: rgb(0, 174, 255);
    /*justify-content: right;*/
    padding: 10px;
}